<h2>Stuff on Gregs List:</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Location</th>
  </tr>
  <% @list.each do |item| %>
    <tr>
      <td><%= item[:item] %></td>
      <td><%= item[:price] %></td>
      <td><%= item[:location] %></td>
    </tr>
  <% end %>
</table>

<a href="/new">List Something so you can Meet a Stranger!</a>