<form action='/create' method='post'>
  <label for='POST-name'>Item:</label>
    <input id='POST-name' type='text' name='item'>
  <label for='POST-price'>Price:</label>
    <input id='POST-price' type='text' name='price'>
  <label for='POST-location'>Location:</label>
    <input id='POST-location' type='text' name='location'>
  <input type='submit' value='Save Item'>
</form>


