<form action='/create' method='post'>
  <label>Item: <input type='text' name='item'></label>
  <label>Price: <input type='text' name='price'></label>
  <label>Location: <input type='text' name='location'></label>
</form>